<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Please sign in</title>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">&nbsp;</div>
<div class="container">
    <div class="login-page col-lg-4 col-md-7">
        <ul>
            <li th:class="${e.global}? globalerr : fielderr" th:each="e : ${#fields.detailedErrors()}">
                <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                <span th:text="${e.message}">The error message</span>
            </li>
        </ul>

        <form action="#" class="form-signin" method="post" th:action="@{/player/add}" th:object="${oneOperandForm}">

            <input hidden name="id" th:value="${oneOperandForm.id}">

            <div class="card">
                <div class="card-body">
                    <p class="card-text" th:text="#{first.operand}"></p>
                    <input id="firstOperand" name="firstOperand" th:value="oneOperandForm.operand"/>
                </div>
            </div>

            <button class="btn btn-primary" th:text="#{form.submit}" type="submit"></button>

        </form>

        <div class="change-view form-group">
            <a th:href="@{'/player/home?'}" th:text="#{go.to.home}"></a>
        </div>

    </div>
</div>
</body>
</html>
